body{ 
    background-image: url("https://img.freepik.com/foto-gratis/campo-futbol-fondo-foco-estadio_46250-1363.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
/* FOOTER  */

.ft-text{ 
    font-size: 30px;
}
.red{
    font-size: 50px;
}
.red-ig{ 
    @extend .red; 
    color: rgb(206, 78, 28);
}
.red-fb{ 
    @extend .red; 
    color: rgba(56, 56, 177, 0.534);
}

/* GALERIA */
.container-car{ 
    padding-top: 50px;
}
.container-section{ 
    padding-top: 45px;
}
.container-textovideos{ 
    text-align: center;
    
}

/* RECORDS */
.contenedor-records{ 
    margin-top: 30px;
    text-align: center;
}
.tabla-ubi{ 
    margin-top: 30px;
}

/* CONTACTO */ 

.contact-box{ 
    margin-top: 150px;
    margin-bottom: 250px;
}  
