*{ 
margin: 0%;
padding: 0%;
font-family: 'Rowdies', cursive;
}
body{ 
    background-image: url(/carpeta.root/Assets/fondohd.jpg);
    background-size: 100%;
}
/*INICIO*/
.fondotext{ 
    background: linear-gradient(to top, whitesmoke, rgba(0, 102, 255, 0.404));
}
.select:hover{ 
    background-color: rgba(76, 159, 236, 0.733);
}
.color-fondo{ 
    background-color: rgba(19, 19, 77, 0.479);
}
            /*PIE DE PAGINA*/
.lista{ 
    list-style-type: none;
}
            /*GALERIA*/
.grid-cont{ 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 400px;
    margin: 20px;
    grid-gap: 10px;
}
.textofotos{
    background-color: whitesmoke;
    color: rgb(88, 170, 197);
    text-align: center;
    grid-column: 1 / 13;
    border: 3px solid;
}
.griditem1{ 
    grid-row: 2 / 3;
}
.griditem2{ 
    grid-row: 2 / 3;
}
.griditem3{ 
    grid-row: 2 / 3;
}
.galeriav{ 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 300px;
    margin: 20px;
}
.textovideos{ 
    background-color: whitesmoke;
    color: rgb(88, 170, 197);
    text-align: center;
    grid-column: 1 / 13;
    border: 3px solid;
    height: 40px;
}
.videoif{ 
    grid-row: 2 / 3;
}
            /*RECORDS*/

.contenedortitulo{ 
    position: relative;
    color: rgb(88, 170, 197); 
    display: block;
    top: 80px;
    background-color: white;
    padding: 10px;
    border: 5px solid rgb(88, 170, 197);
}
.titulo{ 
    position: relative;
    font-size: 40px;
    padding-left: 40%;
}
.tabla{ 
    position: relative;
    top: 150px;
    color: white;
    margin-left: 300px;
    background-color: black;
    height: 100%px;
    width: 1000px;
}
            /*PREMIOS*/
.conttitulo{ 
    position: relative;
    color: rgb(194, 45, 45);
    background-color: rgb(23, 23, 167);
    top: 100px;
    border: 2px solid rgb(194, 45, 45);
    margin:auto;
}
.title{ 
    font-size: 40px;
    padding-left: 20%;
}
.conttexto{
    position: relative;
    color: black;
    background-color: white;
    display: inline-block;
    top: 120px;
    font-size: 20px;
    border:2px solid black;
    margin-left: 120px;
}


            /*CONTACTO*/

















